<!doctype html>
<html lang="eng">
<head>
    <title>vlg_place</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="./public/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <div class="topnav" id="myTopnav">
                    <a href="#">ГЛАВНАЯ</a>
                    <a href="#about">О НАС</a>
                    <a href="#gallery">ГАЛЕРЕЯ</a>
                    <a href="#news">НОВОСТИ</a>
                    <a href="#contacts">КОНТАКТЫ</a>
                    <a id="menu" href="#" class="menu__toggle">&#97776;</a></li>
                </div>
                <div class="auth_icon">
                    <a href="#popup-auth" class="js-popup-open"><img src="./public/images/icons/enter.svg" height="35px" width="35px" alt="authorization_icon"></a>
                </div>
                <br class="clear">
            </nav>
        </header>
        <main>
            <div class="sight-overall__header">
                <h2>НАЗВАНИЕ ДОСТОПРИМЕЧАТЕЛЬНОСТИ</h2>
            </div>
            <div class="sight-overall__key-words_rating">
                <div class="sight-overall__key-words">
                    <label>Ключевые слова:
                        <b>
                            <a class="key_words" href="">#Скульптура</a>
                            <a class="key_words" href="">#ВОВ</a>
                        </b>
                    </label>
                </div>
                <div class="sight-overall__rating">
                    <div class="rating__wrapper">звезды</div>
                </div>
            </div>
            <p class="sight-overall__desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
            <div class="sight-overall__gallery">
                <div class="photo-wrapper">
                    <img src="#" alt="" class="photo-image photo">
                </div>
                <div class="photo-wrapper"></div>
                <div class="photo-wrapper"></div>
                <div class="photo-wrapper"></div>
                <div class="photo-wrapper"></div>
                <div class="photo-wrapper"></div>
            </div>
            <div class="gallery-pagination">
                <ul class="pagination">
                    <li class="disabled">
                        <a href="#"><<</a>
                    </li>
                    <li class="active pagination-item"></li>
                </ul>
            </div>
            <div class="sight-overall__map-info">
                <div class="sight-overall__map"></div>
                <div class="sight-overall__near">
                    <div class="near__header">Ближайшие достопримечательности</div>
                    <ul class="near-list">
                        <li><a href="">Площадь</a></li>
                        <li><a href="">Дост1</a></li>
                        <li><a href="">Дост2</a></li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
    <footer>
        Vlg_place &copy; 2017
    </footer>
    <script src="./public/javascripts/jquery-3.2.1.min.js"></script>
    <script src="./public/javascripts/scripts.js"></script>
    <script src="./public/javascripts/gallery-button.js"></script>
    <script src="./public/javascripts/modalWindow.js"></script>
    </body>
</html>