.tab-button{
    display: flex;
    margin-top: 20px;
}
.button_map,
.button_photo-gallery{
    line-height: 30px;
    padding: 5px 15px;
    background: #606060;
    color: white;
    border-radius: 8px 8px 0 0;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.button_map.active{
    background-color: #40E0D0;
    border: 4px solid #606060;
    border-bottom: 0px;
    margin-bottom: -2.5px;
}
.button_photo-gallery.active{
    background-color: #40E0D0;
    border: 4px solid #606060;
    border-bottom: 0px;
    margin-bottom: -2.5px;
}

.button_photo-gallery{
    margin-left: 5px;
}

.gallery-tab {
    border: solid 2px #606060;
    box-shadow: 0 0 2px #3a3a50;
    border-radius: 0 6px 6px 6px;
    padding: 20px;
    margin-bottom: 20px;
}

.gallery-tab.js-container {
    display: none;
    flex-direction: row;
    justify-content: flex-start;
}

.js-container.active{
    display: block;
}

.title-photomap,
.title-photogallery {
    text-align: center;
    font-size: 35px;
    color: #40E0D0;
    font-weight: normal;
}

.photo-gallery-line {
    display: flex;
    flex-wrap: wrap;
}
.photo-gallery-wrapper {
    display: block;
    position: relative;
    width: 29.3%;
    margin: 2%;
    height: 250px;
    background-size: cover;
    background-position: center;
}

.photo-gallery-wrapper:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.6);
}


.photo-gallery-wrapper:hover .gallery-desc-hover {
    opacity: 1;
}

.some-photo {
    max-width: 100%;
    display: block;
    border: 2px solid #3a3a50;
}


.photo-gallery-title {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: #40E0D0;
    background: rgba(62, 60, 60, 0.87);
    font-size: 20px;
}

.gallery-desc-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    background: rgba(96, 96, 96, 0.45);
    opacity: 0;
    transition: opacity 1s ease;
}

.photo_gallery-wrapper {
    position: relative;
    width: 29.3%;
    margin: 2%;
    height: 250px;
    background-size: cover;
    background-position: center;
}

.photo_gallery-wrapper:hover .gallery-desc-hover{
    opacity: 1;
}

.photo_gallery-title{
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: #40E0D0;
    background: rgba(62, 60, 60, 0.87);
    font-size: 20px;
}

.desc-hover__auth,
.desc-hover__date,
.desc-hover__category,
.desc-hover__rating {
    display: block;
    margin-top: 15px;
    color: #3a3a50;
    font-size: 15px;
}

.desc-hover__style {
    color: #40E0D0;
}


.rating-count {
    display: flex;
    margin: auto;
    width: 110px;
}

.rating-count input {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.rating-count input + label {
    font-size: 0;
    display: block;
    width: 22px;
    height: 21px;
    cursor: pointer;
    background-image: url(/public/images/icons/starFill.svg);
}

.rating-count label:hover ~ label,
.rating-count:not(:hover) input:invalid + label,
.rating-count:not(:hover) input:checked + label ~ label {
    background: url(/public/images/icons/star.svg) no-repeat center / contain,
    url(/public/images/icons/starFill.svg) no-repeat center / 0 0,
    url(/public/images/icons/star.svg) no-repeat center / 0 0;
}

.rating-count input + label:hover,
.rating-count:not(:hover) input:focus + label {
    background-image: url(/public/images/icons/star.svg);
}