.overlay{
    display: none;
}

.popup{
    display: none;
}

.overlay.visible{
    display: block;

}

.popup.visible{
    display: block;
}
.modal__header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal__body {
    margin-right: 10px;
    margin-left: 10px;
    padding: 15px;
    position: relative;
}

.modal-overlay.visible {
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    left: 0;
    display: flex;
    overflow: auto;
    padding: 10px;
    position: fixed;
    top: 0;
    transition: opacity .2s;
    width: 100%;
}

.modal-overlay[aria-hidden="true"] {
    opacity: 0;
    visibility: hidden;
}
.modal-overlay[aria-hidden="false"] {
    opacity: 1;
    visibility: visible;
    z-index: 2;
}
.modal__content {
    background: #ffffff;
    margin: auto;
    max-width: 800px;
    overflow: auto;
    overflow-x: hidden;
    padding: 10px;
    position: relative;
    transition: transform .3s;
    width: 100%;
}

.modal-overlay[aria-hidden="false"]
.modal-content {
    transform: scale(1);
}

.modal__header h2{
    color: #826a5e;
}

.btn-close {
    color: #40E0D0;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 35px;
    font-weight: 800;
    line-height: 1;
    padding: 0;
    position: absolute;
    right: 32px;
    top: 20px;
    z-index: 2;
}
.btn-close:hover {
   font-size: 55px;
    transition: .2s;
}
.btn-close:focus {
    outline: 1px dotted;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
}

.auth_social{
    text-align: center;
    margin-top: 20px;
}

.btn{
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: #40E0D0;
    color: #000;
}

.btn-registration{
    display: inline-block;
}
.btn-enter{
    width: 150px;
}


.modal__form label{
    color: #826a5e;
}

