@import "normalize.css";
@import "about.css";
@import "search_filter.css";
@import "gallery.css";
@import "modalWindow.css";
@import "auth.css";
@import "signup.css";
@import "profile.css";
@import "map.css";
@import "sight-overall.css";
@import "sight-photo.css";
@import "rating.css";

*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    width: 100%;
    min-height: 100%;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

h1{
    color: #40E0D0;
    height: 170px;
    font-size: 110px;
    margin-left: -156px;
}

h2{
    font-size: 50px;
    font-weight: normal;
    text-align: center;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 85px;
    margin: 38px 0 0 0;
    padding: 0;
    list-style-type: none;
}

.topnav{
    width: 100%;
    position: relative;
    float: left;
    margin: 0 auto;
}
.topnav a{
    color: #3a3a50;
    font-size: 18px;
    text-decoration: none;
    margin-right: 80px;
}

.topnav a:hover{
    color: #40E0D0;
}
.clear{
    clear: both;
}

.container__title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.home-title{
    height: 400px;
    width: 1055px;
}

.description{
    position: relative;
    justify-content: center;
    padding-top: 20px;
    text-align: right;
    padding-right: 50px;
    width: 410px;
    color: #826a5e;
}

.br-place{
    display: block;
    padding-left: 250px;
}

.authWindow h2{
    color: #826a5e;
}

.submit{
    background-color: #69c7c0;
    color: #606060;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}

footer {
    width: 100%;
    height: auto;
    background: #3a3a50;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
}

.mobile-topnav,
.hamburger {
    display: none;
}


@media screen and (max-width: 768px) {
    nav {
        margin-top: 0;
    }

    .mobile-topnav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 10px;
        padding-left: 50px;
        background: #69c7c0;
    }
    .mobile-topnav.open {
        display: block;
    }
    .mobile-topnav a {
        display: block;
        padding: 10px 15px;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 100;
    }
    .topnav {
        display: none;
    }
    .container__title {
        flex-wrap: wrap;
    }
    .about__item h3 {
        font-size: 14px;
    }

    .auth_icon,
    .icForRegistrUsers {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .photo-gallery{
        position: relative;
        height: 278px;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .photo-gallery-line{
        flex-wrap: nowrap;
        width: auto;
        position: absolute;
        top: 0;
        left: 0;

    }
}




